* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #4b5a83;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f0e49;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
  }
  
  h1 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .phone-container {
    position: relative;
    background-color: #dfdfe2;
    width: 250px;
    height: 460px;
    margin: 30px auto;
    border-radius: 15px;
    border: 15px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .phone-background {
    background-color: black;
    width: 100%;
    height: 25px;
  }
  
  .phone-camera {
    background-color: #dfdfe2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
  }
  
  label {
    margin: 10px 0 5px;
  }
  
  #user-input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 42px;
    font-size: 16px;
  }
  
  .phone-footer {
    background-color: black;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-styles {
    cursor: pointer;
    width: 100px;
    margin: 10px;
    color: #0a0a23;
    font-size: 18px;
    background: linear-gradient(#ffffff, #928d86);
    border: 3px solid #ffffff;
  }
  
  #results-div {
    overflow-y: auto;
    height: 265px;
    width: 100%;
  }
  
  .results-text {
    font-size: 1.2rem;
    padding: 5px;
    text-align: center;
    margin: 10px 0;
  }
  